*{
    margin: auto;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to bottom, #ff2d2d, #1f1f1f);
    display: flex;
    flex-direction: column;
    justify-items: center;
    padding: 50px, 100px;
    height: 100vh;
}

form{
    background: rgba(255,255,255,0.35);
    width: 300px;
    padding: 10px;
    border-radius: 25px;
    text-align: center;
    border: 1px solid rgba(255,255,255,0.6);
    box-shadow: 0 8px 20px rgba(0,0,0,0.25);
    margin: auto;
}

h1{
    margin-bottom: 25px;
    font-size: 40px;
    font-weight: 300;
    color: #222;
}

label{
    display: flex;
    text-align: center;
    margin-bottom: 6px;
    margin-top: 12px;
    color: #222;
}

input{
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 10px;
    margin-bottom: 10px;
    outline: none;
}

a{
    text-decoration: none;
}

.cadastro {

    margin-top: 16px;
    display: block;
    width: 400px;
    min-width: 600px;
    background-color: #1f1f1f;
    color: white;
    padding: 20px;
    border-radius: 10px;
    font-weight: bold;
    box-sizing: border-box;
}

.cadastro:hover{
    background-color: #000;
}

.butao{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 10px;
    border-radius: 15px;
    background-color: #b30000;
    color: #1f1f1f;
}
.butao:hover{
    scale: 1.01;
    background-color: #890000;
}
.mapa{
    min-width: 50px;
    min-height: 50px;
}
/* 

footer{
    margin-top: 16px;
    justify-items: left;
    bottom: 15px;
} */